@media (max-width: 1000px) {
  .content {
    width: 100%;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
  .sidebar{
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }
  .sidebar.active{
    transform: translateX(0);
  }
  .sidebar.active + .content {
    transform: translateX(30%);
  }
}
@media (min-width: 1001px) {
  .container {
    margin-top: 50px;
  }
  .content {
    width: calc(100% - 230px);
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 754px;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.content {
  margin-left: auto;
  background-color: var(--background-secondary-color);
  height: 100%;
}
